@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@500&display=swap');

.box {
  margin-top: 10px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;

  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;

  color: black;

  &_active {
    color: red;
  }
}

hr {
  margin: 0;
  padding: 0;
}

.boxAdditional {
  padding: 20px 20px 0 20px;
  margin-bottom: 40px;
}

.crewList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 562px) {
    flex-direction: row;
    align-content: space-around;
  }
}

.crewListItem {
  font-size: 42px;
  line-height: 1.17;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 562px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1024px) {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

/* BUTTON-STYLES */
.link {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .link {
    padding: 19px 32px;
  }
}

.link:before,
.link:after {
  border-radius: 80px;
}

.link:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.link:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: '';
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.link:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.link:active:not(:disabled) {
  color: #ccc;
}

.link:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.link:disabled {
  cursor: default;
  opacity: 0.24;
}
