.trailersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.trailer {
  @media screen and (min-width: 300px) {
    width: 300px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    height: 350px;
  }
  @media screen and (min-width: 1024px) {
    width: 800px;
    height: 500px;
  }
}
.trailerItem {
  margin: 0;
}
