@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
  color: #000;
  font-size: 22px;
}

.active_link {
  color: red;
}

.navigation {
  display: block;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(66, 68, 90, 0.3);
}
